<a href="https://colab.research.google.com/github/Wkeat1202/buildingblocs-test/blob/main/March_Conference__Intro_to_Python_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello world!")
# Hi! I am a comment! Use the '#' symbol to indicate the start of a comment.

#**Variables and Types**

In [ ]:
# Try creating your own variables here
john = "cena"

print(john)

In [ ]:
# Invalid names
and = 2
True = 1

User Input

In [ ]:
x = input("Type Something: ")
print(x)

In [ ]:
x = int(input("Give me a number!: "))
print(type(x))

##Basic Datatypes

In [ ]:
var1 = 2  # Integer

var2 = 2.1  # Float

_jeremy = True  # Boolean

bee_movie = "According to all known laws of aviation,..."  # string

i_hate_lists = ["item 1", 2, 3.0, ["Wow another list inside!", 4.2]]  # list

i_love_dictionaries = {
    "one": 1,
    "two": 2,
    "three": 3,
}  # a dictionary!

placeholder = None

print("this is var1: ", var1)
print("this is var2: ", var2)
print("this is _jeremy: ", _jeremy)
print("this is bee_movie: ", bee_movie)
print("this is i_hate_lists: ", i_hate_lists)
print("this is i_love_dictionaries: ", i_love_dictionaries)

this is var1:  2
this is var2:  2.0
this is _jeremy:  True
this is bee_movie:  According to all known laws of aviation,...
this is i_hate_lists:  ['item 1', 2, 3.0, ['Wow another list inside!', 4.2]]
this is i_love_dictionaries:  {'one': 1, 'two': 2, 'three': 3}

In [ ]:
# Since this is a jupyter notebook, variables from one cell will carry onto another!
print("this is var1 again: ", var1)

##Integers and Floats

Integers are any whole number, **including 0**. They are represented by `int`

Floats are any number **containing a decimal point**. They are represented by `float`

In [ ]:
num1 = 2
num2 = 2.8

print("num1 is of type ", type(num1))
print("num2 is of type ", type(num2))

`int` can be converted into `float` and vice versa.

Converting a `float` into an `int` truncates (cuts off) the decimal

In [ ]:
num1 = float(num1)
num2 = int(num2)
print("num1 is now of type ", type(num1), " and value ", num1)
print("num2 is now of type ", type(num2), " and value ", num2)

Arithmetic

In [ ]:
x = 5
y = 2
# Basic stuff
print(x + y)
print(x - y)
print(x / y)
print(x * y)

In [ ]:
# The cool stuff
print(x // y)  # floor of x/y
print(x ** y)  # x^y
print(x % y)  # whole number remainder of x / y

In [ ]:
# Modulo Task
# use this space

num1 = int(input("Input first number: "))
num2 = int(input("Input second number: "))
print("Remainder of num1 / num2 = ", num1 % num2)

Input first number: 5
Input second number: 2
Remainder of num1 / num2 =  1

In [ ]:
# Modulo use-case:
def isEven(num):  # function definition
  if num % 2 == 0:  # if the number has no remainder when divided by 2, it is an even number
    print("This number is even!")
  else:
    print("This number is odd!")

if __name__ == "__main__":
  x = int(input("Type a number!: "))
  isEven(x)

`floats` are weird... due to how they are represented by the computer

In [ ]:
0.1 + 0.2

So, avoid comparing floats in `if` statements (which is covered later)

In [ ]:
0.1 + 0.2 == 0.3

##Booleans

`True` or `False`, represented by `bool`

In [ ]:
is_yummy = True
is_edible = False

Other datatypes can be converted into `True` and `False` by Python.
- Any empty `str`, `0`, `None` or empty container such as a list, is converted to `False`
- Mostly everything else is converted to `True`

In [ ]:
print(bool([]))  # In `if` statements, you do not need to use bool(). It is implicitly converted into a boolean
print(bool(None))
print(bool("thiswillbetruetrustme"))

Booleans can be changed from `True` to `False` and vice versa using the `not` keyword

In [ ]:
print(not bool([]))
print(not bool("thiswillbetruedonttrustme"))

True
False

`True` and `False` can also be converted into `int` implicitly
- `True` -> `1`
- `False` -> `0`

In [ ]:
print(True + 1)
print(False - 1)

2
-1

##Strings

Words or characters enclosed in quotations. Represented by `str`

In [ ]:
x = "Hi! I'm a string!"
print(x)

The type of quotations, `' '` or `" "`, matter if youre mixing them with one another

In [ ]:
x = "His name is "Mykull""
print(x)
# try fixing this error caused by bad quotation mark usage

Simple Operations

In [ ]:
# Adding strings together
x = "fizz"
y = "buzz"
print(x + y)
print("Length of x: ", len(x))  # len(str) to find length

Special Characters - Escape characters

Prefixed with `\`

In [ ]:
x = "newline\nnewline"  # newline
y = "i luv\tbbcs"  # tab
print(y)
print(x)

In [ ]:
# In the case u wish to mix single and double quotes, use \' and \" as needed
print("\" this is a double quote!")
print('\' this is a single quote!')
# to use \ in messages
print("\\ this is a backslash!")

Useful stringtypes `r" "` and `f" "`

`r" "` - Raw strings ignore `\` escape characters and treats it as a normal character

`f" "` - Formatted strings allow you to easily insert variable values into strings!

In [ ]:
var1 = "yap yap yap"
edit_this = "this is var1 \n {var1}"
# add r or f in front of the quotation marks and see how the output changes!
print(edit_this)

##Lists

Dynamically sized containers represented by `list`

Enclosed by sqaure brackets `[ ]` and can store multiple elements of different types at once

In [ ]:
x = [1, "2", True, ["another", "list!"]]

Indexing (can also be used for strings)

Lists are 0-indexed; the first element in the list is labeled as number `0`

Items from the back are labelled `-1`, `-2`, ...

In [ ]:
x = ["aye", "luv", "bbcs", "fr", "@"]
#      0      1      2      3      4 or -1
print()  # Try printing out the 2nd and 3rd elements!

Remember how you can put a list in a list? The most common use-case are matrices.


In this example, we a have a 2-D matrix. We will try to access the elements in it.

In [ ]:
x = [[1, 2, 3],
    [4, 5, 6],
    [7, 8, 9],]
print()  #Try printing out the last item of the list and its type using the type() function

In [ ]:
# Accessing individual elements
print(x[1][2])
# You can think of it as (x[1])[2], working from left-right.
# This operation to access elements can be extended to other nested containers
# such as lists of dictionaries, or dictionaries of other dictionaries

List operations - changing elements and list slicing

In [ ]:
# You can  replace elements by index!
x = ["aye", "luv", "bbcs", "fr", "@"]
#      0      1      2      3      4 or -1
x[0] = "I"
print(x)

In [ ]:
#[start_index (optional, default first element):
# stop_index (optional, default last element):
# step (optional, default 1)]
x = ["aye", "luv", "bbcs", "fr", "@"]
#      0      1      2      3      4 or -1
x_slice = x[1:4]
# The stop_index is EXCLUSIVE, meaning that the item of that index will not be included in the slice.
# So item of index 4 will not be included in x_slice.
print(x_slice)

In [ ]:
# Use this space for the task

Useful Functions

`len()` - length of list

`max()` and `min()` - max and min vals of list

In [ ]:
x = [1, 2, 3, -1, 0, 2, 19, 5, 9, 8]
print(len(x))
print(max(x))

List Methods

called using `list.method()`

In [ ]:
x = ["aye", "luv", "bbcs", "fr", "@"]
#      0      1      2      3      4 or -1
x.append("python")  # Adds element to the back
print(f"'bbcs' first appears at index {x.index('bbcs')}")
x.sort()  # sorts in-place
print(f"sorted list: {x}")
x.pop(1)  # Removes item at index 1
print(f"removed bbcs from sorted x: {x}")

In [ ]:
y = [1, 5, 2, 3, 7, 3, 6]
# What if i want to make a sorted copy of y?
z = y
z.sort()
print(f"z: {z}")
print(f"y: {y}")
# Seems like changing z also affects y. Try fixing this using the .copy() method

In [ ]:
# Example of a loop affected by changing the list inside the loop
x = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for i in x:
  print(f"Currently on {i}.")
  if i % 2 == 0:  # Checking if `i` is even
    x.remove(x.index(i))
# This is due to the way `for` iterates over loops.
# An intuitive way to put it is that it loops over the list using index numbers
# i.e 0, 1, 2, 3.
# Removing certain numbers causes the list to become smaller. For example:
#
# The for loop first goes to index `0`, then index `1`. The element at index `1` is 2.
# Since remainder of 2 / 2 is 0, `if` evaluates to True, and removes 2 from the list.
# Removal of 2 causes the list to become
# [1, 3, 4, 5, 6, 7, 8, 9, 10], and 3 is now index `1` instead of index `2` previously.
# The for loop now checks index `2`, which is now the element 4.

Currently on 1.
Currently on 2.
Currently on 4.
Currently on 6.
Currently on 8.
Currently on 10.

##Dictionaries

Dynamically sized container containing key:value pairs. Represented by `dict`

Enclosed by curly brackets: `{ }`

In [ ]:
x = {
    "key":"value",
    2: "apple",
    True: "false",
    "body": "Canon EOS R50",
    "lens": "RF-S 18-45mm",
}

Accessing and changing values using keys:

`dict[key]` vs `dict.get(key)`

In [ ]:
x = {
    "key":"value",
    2: "apple",
    True: "false",
    "body": "Canon EOS R50",
    "lens": "RF-S 18-45mm",
}
print(x[2])  # May create a new key:val pair if key does not exist, i.e when you have a typo in the name
print(x.get(2))  # More readable - preferred if ONLY accessing values

# changing values - easily done with dict[key]
x[2] = "banana"
# trying x.get(2) = "banana" will result in an error.

Methods

In [ ]:
x = {
    "key":"value",
    2: "apple",
    True: "false",
    "body": "Canon EOS R50",
    "lens": "RF-S 18-45mm",
}
print(f"Keys: {list(x.keys())}")  # Not converting to a list using list() is also fine.
print(f"Items: {list(x.items())}")
x.pop(2)
print(x)

For the practice task.

In [ ]:
# Answer here

# **Conditionals**
> Statements that allow code to execute different actions based on whether a specified condition evaluates to True or False.





---

**Mathematical Conditions**


*   Equals: ==
*   Not Equals: !=
* Greater than: >
* Less than: <
* Greater than or equal to: >=
* Less than or equal to: <=

**Conditionals**


*   if
*   elif
* else

In [ ]:
#if statements - using mathematical operators
x = 5
y = 2

if x > y:
  print("x is greater than y")

x is greater than y

In [ ]:
#else statements - odd and even

x = 5
y = 2

if x % 2 == 1:
  print("odd")
else:
  print("even")

even

In [ ]:
#elif statements - positive, negative, zero

x = 5
y = 2

z = x + y
if z == 0:
  print("Z is zero")
elif z > 0:
  print("Z is positive")
else:
  print("Z is negative")

Z is positive

In [ ]:
#Nested if loop - measurements

age = 30
member = True

if age > 18:
    if member:
        print("Ticket price is $12.")
    else:
        print("Ticket price is $20.")
else:
    if member:
        print("Ticket price is $8.")
    else:
        print("Ticket price is $10.")

# **Exercise**

**Guidelines:**

Questions are categorised into Basic, Intermediate and Hard. Only basic questions will be discussed in this workshop due to time constraints. However, the solutions will be given after the workshop!

In [ ]:
#Basic: Given two variables: a and b, find which variable has a longer word length

a = "strawberry"
b = "mango"

In [ ]:
#Basic: Given variable a, print "In List" if the variable is in the list; else, print "Not in List".

fruit_list = ["orange", "apple", "mango", "grapes"]
a = "strawberry" #feel free to change the value to check if your code works correctly!

In [ ]:
#Basic: Given variables a and b, check if a is greater than, equal to or less than b.

a = 60
b = 60

In [ ]:
#Intermediate: Create a password checking system! Evaluate if the user's password is acceptable.
#Requirements: at least 8 characters, contains alphabets and numbers

user_input = input("Enter a password: ")

# **Basic Iterations**

Python basic iterations use loops, like `for` and `while`, to repeatedly execute a block of code until a condition is met or a sequence is exhausted.



*   for loops
* while loop

In [ ]:
#For loop - looping through a string

for x in "buildingBloCS":
  print(x)

b
u
i
l
d
i
n
g
B
l
o
C
S

In [ ]:
#For loop - looping through a list
months = ["February", "March", "April", "June"]
for i in months.copy():
  print(i)

February
March
April
June

In [ ]:
#For loop - for i in range()

for y in range(4): #number is not inclusive
  print(y)

0
1
2
3

In [ ]:
for y in range(1, 4): #starting number, stop
  print(y)

1
2
3

In [ ]:
for y in range(1, 4, 2): #starting value, stop, increment value
  print(y)

1
3

In [ ]:
#While Loop

i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [ ]:
#While Loop - break function
x = 0
while True:
  x += 1
  print(x)
  if x == 2:
    break

1
2

In [ ]:
#While Loop - continue()
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

# **Exercise**

**Guidelines:**

Questions are categorised into Basic, Intermediate and Hard. Only basic questions will be discussed in this workshop due to time constraints. However, the solutions will be given after the workshop!

In [ ]:
#Basic - Given a list of fruits, print out the name of the fruit if the word length is less than 5.

fruit_list = ["orange", "apple", "mango", "grapes"]

In [ ]:
#Basic - Given variable a, find the 3rd letter of the variable and print it out.

a = "apple"

In [ ]:
#Basic: Create a code that will stop running if the (a-b) is negative.

a = 13
b = 3

![Screenshot 2025-02-14 at 5.26.04 PM.png]()

In [ ]:
#Hard: Create a pattern of a pyramid as seen above.
#Hint: Use nested for loops ;)

# **Libraries**



> Python libraries are collections of pre-written code modules that provide reusable functions and tools to simplify and extend programming tasks.

1. Random Module
  - random()
  - randint(start, stop)

2. Math Module
  - math.ceil(x)
  - math.floor(x)
  - math.pow(x, y)
  - math.sqrt(x, y)

You may be required to install the modules before running them via

`pip install (module)`

In [ ]:
!pip install math
!pip install random
# colab throws an error because its already downloaded, this is mostly if youre
# doing python work outside of colab

ERROR: Could not find a version that satisfies the requirement math (from versions: none)
ERROR: No matching distribution found for math
ERROR: Could not find a version that satisfies the requirement random (from versions: none)
ERROR: No matching distribution found for random

In [ ]:
#Random Module
import random

random.random()

0.17730414240072356

In [ ]:
random.randint(10, 20)

11

In [ ]:
#Math Module
import math

math.ceil(0.177304)

1

In [ ]:
math.floor(0.177304)

0

In [ ]:
math.pow(2, 3)

8.0

In [ ]:
math.sqrt(4)

2.0

#Functions

Reusable bits of code that are pre-defined.

May require values known as parameters to be passed into it.

In [ ]:
def func(args, kwargs=None):
  ...

`args` are parameters that must be provided for the function to run.

`kwargs` are parameters that are optional for the funtion to run; they have a default value in the case that a variable for it is not provided.

In [ ]:
def isEven(num):
  if num % 2 == 0:
    print("This number is even!")
    return True
  else:
    print("This number is odd!")
    return
# Function name: isEven
# Arguments: num
# Keyword Arguments: None

Functions may **return** values for code to use using the `return` keyword.

In [ ]:
def isEven(num):
  if num % 2 == 0:
    return True
  else:
    return False
print(isEven(2))

True

# Mini Projects
The projects are ranked by complexity and difficulty. Try to attempt them!

**Basic**: Evaluate if the input is a leap year or not.

Sample inputs and outputs:


```
Enter year: 2022
2022 is not a leap year.

Enter year: 2000
2000 is a leap year.

Enter year: 1900
1900 is not a leap year.
```

A leap year occurs:
* In every year that is evenly divisible by 4.
* Unless the year is evenly divisible by 100, in which case it's only a leap year if the year is also evenly divisible by 400.

**Intermediate**: Create an NRIC validator that takes in an NRIC as input and output if it is valid.



Sample inputs and outputs:
```
Enter your NRIC: S1234567A
Your NRIC is invalid

Enter your NRIC: S1234
Your input length must be 9

Enter your NRIC A1234567D
NRIC must start with S or T

Enter your NRIC: S1234567D
Your NRIC is valid
```

Refer to https://ivantay2003.medium.com/creation-of-singapore-identity-number-nric-24fc3b446145 for the algorithm and explaination of the NRIC validator.

*Note: We are only focusing on NRIC for Singaporeans.*

**Advanced**: using the `random` module, and your knowledge on `user inputs`, `loops`, and `lists`, create a simple game of tic tac toe.

1. Allow the user to choose whether to start first or second (`X` or `O` respectively)
2. create a form of AI using the `random` module to play with the user.

It is highly recommended that you use `functions` to segment and organise your code.

Sample Input:
```
Type '1' for X and '0' for O. X will always go first.
> 1

Current Grid
/_/_/_/
/_/_/_/
/_/_/_/

...

Current Grid
/X/O/O/
/O/X/X/
/X/X/O/

DRAW!
```

Hint:

Write down the different things you have to do.

For example,
1. Print the tic tac toe grid out
2. Check for winners or a draw
3. Let the AI choose a position

# **Further Readings**

[Python.land Python Tutorial](https://python.land/introduction-to-python)

[W3Schools Python Tutorial](https://www.w3schools.com/python/default.asp)



Stuff to learn on your own:
- Classes
- Tuples
- Recursion (Hard)